.navContainer {
  width: 100vw;
}

.navCenter {
  padding: 1rem;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navToggle {
  font-size: 1.5rem;
  color: #2f2f2f;
  background: #f4f4f4;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: .3rem;
  border-radius: .5rem;
}

.links span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  list-style: none;
}

.links li {
  height: 2.6rem;
  color: #2f2f2f;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.7rem;
  margin: 0.1rem;
}

.links li:nth-child(4) {
  color: #0152cc;
}

.links li:nth-child(4):hover {
  color: #0152cc;
}

.links li:hover {
  background: #f4f4f4;
  color: #2f2f2f;
  border-radius: 0.5rem;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;
}

.linksItem  a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  padding: 0.6rem;
  margin: 1rem;
  background: #f4f4f4;
  border-radius: 0.5rem;
  overflow: hidden;
}
.searchInput:target {
  background-color: #f3f6fb;
  border: 1px solid #000;
}

.searchInput input {
  width: 100%;
  background: none;
  color: #2f2f2f;
}
.searchInput input::placeholder {
  background: none;
  color: #a3a2a2;
  font-size: 12pt;
  margin-left: 0.5rem;
}

.showContainer {
  height: 10rem;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
 
  .navCenter {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .navHeader {
    padding: 0;
  }
  .navToggle {
    display: none;
  }
  .linksContainer {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .searchContainer {
    display: flex;
  }

  .searchContainer > a {
    margin: 0 0.5rem;
  }
}
