.MainSection {
    width: 100vw;
    height: 100vh;
}

.mainDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.sucess {
    color: #4BB543;
}

.danger {
    color: #ff4444;
}

