.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}

.icon {color: #9FA9BC;
    margin-top: -5px;
    margin-left: 8px;
}
.filters {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 24px 0;
}

.filtersSearch {
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .07);
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: stretch;
  margin-right: 8px;
  overflow: hidden;
  width: 100%;
}

.filtersSearchInput {
  background: transparent;
  border: none;
  color: #4C84FF;
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.filtersSearchIcon {
  background: transparent;
  font-size: 1.4rem;
  color: #9FA9BC;
}

.filtersSearchIcon:hover {
  color: #4C84FF;
}

.filtersItem {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .07);
  color: #9FA9BC;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 8px;
  padding: 10px;
  white-space: nowrap;
}

.filtersItem:active {
  background-color: #4C84FF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.loadProcess {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.errorProcess {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #ff4f5a;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
}

.item {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 210px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 728px) {
  .contacts {
    padding: 16px 0;
  }
}

.contact {
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  margin: 20px;
  overflow: hidden;
  padding: 5;
}

.contact:first-of-type {
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0 5px;
  font-weight: bold;
}

.contact__data:nth-child(2) {
  color: #000;
}

.contactAvatar {
  height: 0;
  border: none;
}

.contactAvatar {
  border-radius: 50px;
  height: 35px;
  overflow: hidden;
  width: 35px;
  border: 2px solid #9fa9bc;
  margin-right: 10px;
}
.contact img {
  height: 100%;
}
.contactData {
  width: calc(100% / 6);
  padding: 0 10px;
}

.contactData:nth-child(2) {
  color: #4c84ff;
}
